#titleObjet{
display: flex;
justify-content: center;
position: relative;
top:5%;
}

#titleObjet a{
font-size: 50px;
background-color: rgba(255, 180, 0);
border: 4mm ridge rgba(255, 209, 0);
font-family: 'Raleway', sans-serif;
color:white;
padding-left:5px;
padding-right:5px;
}

#titleObjet button{
background-color: white;
}


#infBouton{
position: relative;
top :50%;
display: flex;
justify-content: center;
    }
#infBouton button{
	
    background-color: rgba(255, 180, 0, 0.3);
    margin: 15px;
	border:2mm ridge rgba(255, 255, 255);
    font-size: 40px;
    color: white;
	font-family: 'Roboto', sans-serif;
	font-style: bold;
	font-weight: 700;
	
}
#infBouton button:hover {
    background: rgba(22, 21, 21, 0.8);
    color: white;
} 
#infBouton a{
    color: white;
}
#objet1{
    background-image:url(image/piano.jpg);
    background-position: center;
    background-size: cover;
    height: 1100px;
    position: relative;  
}
#objet2{
    background-image:url(image/kurtwithguitar.jpg);
    background-position: center;
    background-size: cover;
    height: 1100px;
    position: relative;  
}
#objet3{
    background-image:url(image/tesla.jpg);
    background-position: center;
    background-size: cover;
    height: 1100px;
    position: relative;  
}
#objet4{
    background-image:url(image/ocarina.jpg);
    background-position: center;
    background-size: cover;

    height: 1100px;
    position: relative;  
}


